@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* ========== Orange Theme ========== */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 90%; /* Darkened */
    --secondary-foreground: 24 9.8% 10%;

    --muted: var(--secondary);
    --muted-foreground: 25 5.3% 44.7%;

    --accent: var(--secondary);
    --accent-foreground: var(--secondary-foreground);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--primary-foreground);

    --border: 20 5.9% 90%;
    --input: var(--border);
    --ring: var(--primary);
    --radius: 0.5rem;
    
    @font-face {
      font-family: "Samarkan Normal";
      src: url('/fonts/samarkan.TTF') format('truetype');
      font-display: swap;
    }
  
    .font-samarkan {
      font-family: "Samarkan Normal", cursive;
    }
  }

  @font-face {
    font-family: "Samarkan Normal";
    src: url('/fonts/samarkan.TTF') format('truetype');
    font-display: swap;
  }

  .font-samarkan {
    font-family: "Samarkan Normal", cursive;
  }

  /* ========== Dark Mode ========== */
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 24 9.8% 8%;
    --card-foreground: 0 0% 95%;

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: var(--foreground);

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: var(--foreground);

    --muted: var(--secondary);
    --muted-foreground: 24 5.4% 63.9%;

    --accent: var(--secondary);
    --accent-foreground: var(--foreground);

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: var(--foreground);

    --border: var(--secondary);
    --input: var(--secondary);
    --ring: var(--primary);
  }
  @font-face {
    font-family: "Samarkan Normal";
    src: url('/fonts/samarkan.TTF') format('truetype');
    font-display: swap;
  }

  .font-samarkan {
    font-family: "Samarkan Normal", cursive;
  }
}

/* ========== Shadows ========== */
.shadow-light {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}

.shadow-dark {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.141);
}

/* ========== Base Styles ========== */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
